*{
     margin: 0px;
     font-family: "Lato", sans-serif;
     font-style: normal;
}
/* Nav bar section */
.bg-color{
    background-color: rgb(255, 222, 228);
}
.total-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    margin-left: 240px;
    margin-right: 240px;
}
.nav-single-item{
    display: flex;
    gap: 20px;

}
.nav-single-item a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.751);
    font-size: 15px;
    font-weight: 600;
    
}

/* Header Section */
.header-section-display{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 80px;
    margin-left: 240px;
    margin-right: 240px;
    padding-bottom: 0px;
    gap: 95px;
}
.header-image{
    width: 130%;
    margin-top: 70px;
}
.header-section-text h2{
    font-size: 70px;
    margin-bottom: 20px;
    font-weight: 700;
    color: #000000de;
}
.header-section-text p{
    font-size: 15px;
    font-weight: 400;
    color: rgba(21, 21, 21, 0.77);
}
.header-btn{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 20px;
    background-color: #E55473;
    border: none;
    border-radius: 4px;
    color: white;
}
/* Feature Section */
.feature-pic-1{
    background-color: #ffd4de;
    padding-top: 60px;
    padding-bottom: 0px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 250px 250px 0px 0px;
    width: 304px;
    height: 338px;
}

.feature-pic-2{
    background-color: #ffa2cf;
    padding-top: 60px;
    padding-bottom: 0px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 250px 250px 0px 0px;
    width: 304px;
    height: 338px;
}
.feature-pic-3{
    background-color: #bbf3f6;
    padding-top: 60px;
    padding-bottom: 0px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 250px 250px 0px 0px;
    width: 304px;
    height: 338px;
}

.feature-section h2{
    font-size: 40px;
    text-align: center;
    padding-top: 100px;
}
.feature-section p{
    text-align: center;
    padding-bottom: 50px;
    padding-top: 10px;
    color: rgb(152, 152, 152);
    font-weight: 400;
}
.feature-pic{
    display: flex;
    justify-content: space-evenly;
}
.pic-head-text{
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 124px;
}
/* Last Section */
.last-section-flex{
    display: flex;
    justify-content: center;
    gap: 30px;
    background-color: rgb(231, 231, 231);
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 80px;
    padding-right: 80px;
    margin-left: 190px;
    margin-right: 190px;
    gap: 70px;
    margin-bottom: 120px;
}
.last-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.last-section img{
    margin-bottom: 10px;
    width: 50px;
    height: 50px;
}
.last-section h3{
    font-size: 15px;
    color: #2727276c;
}
/* Hot Deal Section */
.hot-deal-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #e5547314;
    padding-top: 50px;
    padding-bottom: 50px;
}
.hot-deal-section-all-text h2{
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
}
.hot-deal-section-all-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hot-deal-section-all-text p{
    text-align: center;
    margin-bottom: 20px;
     color: #2727276c;
}
.signup-btn{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 20px;
    background-color: #E55473;
    border: none;
    border-radius: 4px;
    color: white;
}
/* instagram section */
.instagram-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 30px;
}
.instagram-section h2{
    font-size: 40px;
    margin-bottom: 10px;
}

.instagram-section p{
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    color: rgba(128, 128, 128, 0.704);
}

.instagram-img{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 120px;
}
/* latest deal */
.latest-deal-total{
    display: flex;
    background-image: url(./Flower-Asset/Rectangle\ 9.png);
    padding: 120px;
    justify-content: center;
    margin-left: 200px;
    margin-right: 200px;
}
.latest-deal-text h2{
    font-size: 50px;
    text-align: center;
    font-weight: 800;
}
.latest-deal-text p{
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.548);
}
.input-flex{
    display: flex;
    gap: 5px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}
.input-flex input{
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: start;
}
.sub-btn{
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #E55473;
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: 600;
}
/* Footer */
.footer-section{
    background-color: #121212;
    padding: 100px;
    margin-top: 100px;
}
.footer-section h2{
    color: white;
    text-align: center;
    font-size: 50px;
}
.footer-section p{
    color: white;
    text-align: center;
}
.footer-section h3{
    color: rgb(156, 155, 155);
    font-size: 15px;
    margin-top: 10px;
    text-align: center;
}

@media screen and (max-width: 576px){
    .total-nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        margin-left: 0px;
        margin-right: 0px;
        gap: 20px;
    }
    .nav-single-item a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.751);
    font-size: 12px;
    font-weight: 600;
    margin-top: 10px;
    
}
/* header */
.header-section-display{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
        margin-left: 20px;
        margin-right: 20px;
        padding-bottom: 50px;
        gap: 17px;
        flex-direction: column-reverse;
    }
.header-section-text h2{
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 700;
    color: #000000de;
}
.header-image{
        width: 50%;
        margin-top: 21px;
        margin-left: 80px;
}
/* Feature section */
.feature-section h2{
    font-size: 34px;
    text-align: center;
    padding-top: 80px;
}
.feature-section p{
    font-size: 10px;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 10px;
    color: rgb(152, 152, 152);
    font-weight: 400;
}
.feature-pic{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pic-head-text {
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 50px;
}
.feature-pic-1{
    background-color: #ffd4de;
    padding-top: 60px;
    padding-bottom: 0px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 250px 250px 0px 0px;
    width: 150px;
    height: 200px;
}

.feature-pic-2{
    background-color: #ffa2cf;
    padding-top: 60px;
    padding-bottom: 0px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 250px 250px 0px 0px;
    width: 150px;
    height: 200px;
}
.feature-pic-3{
    background-color: #bbf3f6;
    padding-top: 60px;
    padding-bottom: 0px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 250px 250px 0px 0px;
    width: 150px;
    height: 200px;
}
/* last section */
.last-section-flex {
    display: flex;
    justify-content: center;
    background-color: rgb(231, 231, 231);
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 80px;
    padding-right: 80px;
    margin-left: 35px;
    margin-right: 35px;
    gap: 50px;
    margin-bottom: 120px;
    flex-direction: column;
}
.last-section h3{
    font-size: 8px;
    color: #2727276c;
    text-align: center;
}
/* hot offer section */
.hot-deal-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #e5547314;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-direction: column-reverse;
}
.hot-deal-section-all-text
 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hot-deal-pic{
    display: flex;
    align-items: center;
    justify-content: center;
}
.hot-deal-pic img{
    width: 70%;
    margin-bottom: 15px;
}
.hot-deal-section-all-text h2{
    font-size: 28px;
    text-align: center;
    margin-bottom: 18px;
    font-weight: 600;
}
.hot-deal-section-all-text p {
    text-align: center;
    margin-bottom: 6px;
    color: #2727276c;
    font-size: 10px;
}
.instagram-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 30px;
}
.instagram-img {
    display: flex;
    margin-bottom: 120px;
    flex-direction: column;
    gap: 10px;
}
.instagram-img img{
    width: 70%;
    margin-left: 50px;
}
/*  */
.latest-deal-total {
    display: flex;
    background-image: url(./Flower-Asset/Rectangle\ 9.png);
    padding: 120px;
    justify-content: center;
    margin-left: 0px;
    margin-right: 0px;
}
.latest-deal-text h2 {
    font-size: 28px;
    text-align: center;
    font-weight: 800;
}
.input-flex {
    display: flex;
    gap: 13px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.input-flex input {
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 9px;
    padding-top: 10px;
    text-align: start;
}
/*  */
.footer-section {
    background-color: #121212;
    padding: 50px;
    margin-top: 81px;
}
.footer-section h2 {
    color: white;
    text-align: center;
    font-size: 33px;
    margin-bottom: 15px;
}
.footer-section p {
    color: #898383;
    text-align: center;
    font-size: 12px;
}
.footer-section h3 {
    color: rgb(156, 155, 155);
    font-size: 8px;
    margin-top: 10px;
    text-align: center;
}
}